<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Perímetro </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Perímetro</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-select
          label="Seleccione Figura"
          placeholder="Figura"
          (ionChange)="obtenerValor($event)"
        >
          <ion-select-option value="t">Triangulo</ion-select-option>
          <ion-select-option value="c">Circulo</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="figuraSeleccionada === 't'">
        <app-triangulo></app-triangulo
      ></ion-item>
      <ion-item *ngIf="figuraSeleccionada === 'c'">
        <app-circulo></app-circulo>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
